# Frontend files (React and Material-UI)
frontend/src/* linguist-vendored=false
frontend/src/*.js linguist-language=JavaScript
frontend/src/*.jsx linguist-language=JavaScript
frontend/src/**/*.css linguist-vendored=false
frontend/public/* linguist-vendored=true

# Backend files (Node.js, Express, Sequelize, and PostgreSQL)
backend/**/*.js linguist-language=JavaScript
backend/models/*.js linguist-language=SQL
backend/config/*.js linguist-language=SQL
backend/routes/*.js linguist-language=JavaScript

# General files
*.js linguist-detectable=true
*.json linguist-detectable=false

# Ensure README and configuration files are not vendored
*.md linguist-documentation
*.env linguist-generated
